<div ...attributes>
  {{yield (hash
      isLoading=this.isLoading
      isSuccess=this.task.isSuccess
      data=this.task.data
      isError=this.task.isError
      errorReason=this.task.errorReason
    )
  }}
</div>
