<div ...attributes>
  {{yield (hash
      isLoading=this.task.isLoading
      isSuccess=this.data.isSuccess
      data=this.data.data
      isError=this.data.isError
      errorReason=this.data.errorReason
    )
  }}
</div>
